@model AttendanceWebApp.Models.Employees

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="~/ESS_Images/ess-logo-login.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap-3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="~/Content/Jquery 3.2.1/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-resource.js"></script>
    <script src="~/Scripts/Jquery/jquery-ui.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script>var _ConPath = '@System.Web.Configuration.WebConfigurationManager.AppSettings["ConPath"]';</script>
    <script>var _URLHostName = '@System.Web.Configuration.WebConfigurationManager.AppSettings["URLHostName"]';</script>
    <script src="~/Scripts/Angular/AngularJSv1.2.0-rc.3.min.js"></script>
    <script src="~/Scripts/Module/ng-table.src.js"></script>
    <script src="~/Scripts/Module/ng-tags-input.js"></script>
    <link href="~/Content/ng-table.min.css" rel="stylesheet" media="screen" />
    <script src="~/Scripts/Controller/default.js"></script>
    @* Stylesheet *@
    <style>
        .Requed {
            color: red;
            font-size: 20px;
        }

        .activediv {
            display: inline;
        }

        .deactivediv {
            display: none;
        }

        #Home-Index #topBar {
            display: none;
        }

        /*Dropdown Mwnu Style*/
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }

        /*Body Background Add this class in body tag*/
        .bg {
            background-image: url(../../ESS_Images/body.jpg);
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <script>
        @* Submenu Script *@
        $(document).ready(function () { $('.dropdown-submenu a.test').on("click", function (e) { $(this).next('ul').toggle(); e.stopPropagation(); e.preventDefault(); }); });
        @* Set Layout Header & Footer Text *@
        $(document).ready(function () { var foo = "@Session["Loc"]"; if (foo === "IPU") { $('#footext').text("JINDAL SAW LTD. (IPU)"); $('#headtext').text("Employee Self Service Portal - Jindal SAW Ltd."); }; if (foo === "NKP") { $('#footext').text("JINDAL SAW LTD. (NKP)"); $('#headtext').text("Employee Self Service Portal - Jindal SAW Ltd."); }; if (foo === "BEL") { $('#footext').text("JINDAL SAW LTD. (BALLARY)"); $('#headtext').text("Employee Self Service Portal - Jindal SAW Ltd."); };if (foo === "JFL") { $('#footext').text("JINDAL FITTINGS LTD. (JFL)"); $('#headtext').text("Employee Self Service Portal - Jindal Fittings Ltd."); }; if (foo === "KJSAW") { $('#footext').text("JSAW -"); $('#headtext').text("Employee Self Service Portal - JSAW"); }; if (foo === "KJQTL") { $('#footext').text("JQTL -"); $('#headtext').text("Employee Self Service Portal - JQTL"); }; });
        @* Get IP Address *@
        $(document).ready(function ubsrt() { window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection; var pc = new RTCPeerConnection({ iceServers: [] }), noop = function () { }; pc.createDataChannel(""); pc.createOffer(pc.setLocalDescription.bind(pc), noop); pc.onicecandidate = function (ice) { if (!ice || !ice.candidate || !ice.candidate.candidate) { return; }; var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1]; $('#ipAdd').text(myIP); $('#myIPAddress').val(myIP); pc.onicecandidate = noop; }; });
    </script>
    <script>
        function AutoSync(data) {
            var xhr = new XMLHttpRequest(); xhr.open('GET', '@System.Web.Configuration.WebConfigurationManager.AppSettings["ConPath"]' + 'Sync/SyncDb?location=' + data, true); xhr.setRequestHeader('Accept', 'application/json'); xhr.onreadystatechange = function () { if (xhr.readyState === 4 && xhr.status === 200) { alert(xhr.responseText); } }; xhr.send();
        };@* Function For Sync All Master Data Of Employees *@
        function COFF() {
            var _grade = "@Session["GradeCode"]"; var _tpaFlag = "@Session["OtFlag"]"; var loc = "@Session["LOC"]";
            if (loc === "IPU" || loc === "NKP" || loc === "KJSAW") {
                if ((_grade < 015 || _grade === "098") || _tpaFlag === "True") { alert("You are not eligible to get COFF as Per Policy."); } else { window.location.href = "/LeaveApp/COffApply"; };
            } else if (loc === "BEL") {
                if ((_grade < 009 || _grade === "098") || _tpaFlag === "True") { alert("You are not eligible to get COFF as Per Policy."); } else { window.location.href = "/LeaveApp/COffApply"; };
            };
        };@* COFF Application Authoriization *@
    </script>
</head>
<body>
    @* Hidden Objects of Session Variables *@
    <input type="hidden" value="@Session["EmpUnqId"]" id="myEmpUnqId" />
    <input type="hidden" value="@Session["EmpName"]" id="myEmpName" />
    <input type="hidden" value="@Session["CompCode"]" id="myCompCode" />
    <input type="hidden" value="@Session["WrkGrp"]" id="myWrkGrp" />
    <input type="hidden" value="@Session["UnitCode"]" id="myUnitCode" />
    <input type="hidden" value="@Session["DeptCode"]" id="myDeptCode" />
    <input type="hidden" value="@Session["StatCode"]" id="myStatCode" />
    <input type="hidden" value="@Session["CatCode"]" id="myCatCode" />
    <input type="hidden" value="@Session["GradeCode"]" id="myGradeCode" />
    <input type="hidden" value="@Session["OtFlag"]" id="myOtFlag" />
    <input type="hidden" value="@Session["Loc"]" id="myLoc" />
    <input type="hidden" value="@Session["UserRole"]" id="myUserRole" />
    <input type="hidden" value="@Session["IP"]" id="myIPAddress" />
    @*<input type="hidden" value="@Session["IsHod"]" id="myIsHod" /><input type="hidden" value="@Session["IsSecUser"]" id="myIsSecUser" /><input type="hidden" value="@Session["IsGpReleaser"]" id="myIsGpReleaser" /><input type="hidden" value="@Session["IsAdmin"]" id="myAdmin" />*@
    @*<input type="hidden" value="@Session["ChkHeaders"]" id="myHeader" />*@
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner" id="navmain">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <img src="~/ESS_Images/JINDALLOGO.jpg" class="img-thumbnail" style="float:left;height:56px;width:56px;" />
                <label class="navbar-brand" style="color:white" id="headtext"></label>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                <strong>
                                    @Session["EmpName"].ToString() (@Session["EmpUnqId"].ToString())
                                    <b class="caret"></b>
                                </strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li hidden="hidden" id="mnuEmployeeProfile">
                                    <a href="/Home/EmployeeProfile">Profile</a>
                                </li>
                                <li hidden="hidden" id="mnuPerformanceReport">
                                    <a href="/Report/PerformanceReport">Performance Report</a>
                                </li>
                                <li hidden="hidden" id="mnuIncomeTaxDeclaration">
                                    <a href="/IncomeTax/IncomeTaxDeclaration">Income Tax Declaration</a>
                                </li>
                                <li id="mnuTaxReport">
                                    <a href="~/IncomeTax/TaxComparisonReport">Tax Compare Report</a>
                                </li>
                                <li hidden="hidden" id="mnuAddressMaster">
                                    <a href="/Master/AddressMaster">Address/Contact Details</a>
                                </li>
                                <li hidden="hidden" id="mnuuniformmaster">
                                    <a href="/Master/UniFormMaster">Uniform Details</a>
                                </li>
                                <li hidden="hidden" id="mnuUpdateEmailAdd">
                                    <a href="/Home/UpdateEmailAdd">Email ID</a>
                                </li>
                                <li hidden="hidden" id="mnuUserManual">
                                    <a href="~/Master/UserManual">User Manual</a>
                                </li>
                                <li hidden="hidden" id="mnuChangePassword">
                                    <a href="/Home/ChangePassword">Change Password</a>
                                </li>
                                <li>@Html.ActionLink("Log Out", "UserLogin", "Login")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="subnavbar" id="mnubar" hidden="hidden">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li hidden="hidden" class="active" id="mnuDashboard">
                        <a href="/Home/Index"><i class="icon-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <li hidden="hidden" class="dropdown" id="mnuMaster">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list-alt"></i><span>Master</span></a>
                        <ul class="dropdown-menu">
                            <li hidden="hidden" id="mnureleasestreategymaster">
                                <a href="/Master/CreateReleaseStreategy">Release Streategy Master</a>
                            </li>
                            <li hidden="hidden" id="mnuITDFinance">
                                <a href="/IncomeTax/IncomeTaxDecFin">IncomeTax Declaration Edit For Finance</a>
                            </li>
                        </ul>
                    </li>
                    <li hidden="hidden" class="dropdown" id="mnuLeave">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list-alt"></i><span>Leave</span></a>
                        <ul class="dropdown-menu">
                            <li hidden="hidden" id="mnuLeaveRules">
                                <a href="/LeaveApp/LeaveRules">Leave Rules</a>
                            </li>
                            <li hidden="hidden" id="mnuLeaveApplication">
                                <a href="/LeaveApp/LeaveApply">Leave Application</a>
                            </li>
                            <li hidden="hidden" id="mnuCOffApplication">
                                <a href="#" onclick="COFF()">COFF Application</a>
                            </li>
                            @*<li hidden="hidden" id="mnuCOffApplicationJFL">
                                <a href="/LeaveApp/COffApplyJFL">COFF Application JFL</a>
                            </li>
                            <li hidden="hidden" id="mnuWOChangeBEL">
                                <a href="~/LeaveApp/WOChangeBEL">Weekly Off Change</a>
                            </li>
                            <li id="mnuODLeave">
                                <a href="~/OD/ODApply">Out Door Duty Application</a>
                            </li>*@
                            <li class="dropdown-submenu">
                                <a href="#" class="test" data-toggle="dropdown"><span>Leave Cancellation <b class="icon-caret-right"></b></span></a>
                                <ul class="dropdown-menu">
                                    <li hidden="hidden" id="mnuShortLeaveCancel">
                                        <a href="/LeaveApp/LeaveCancellation">Short Leave Cancel</a>
                                    </li>
                                    <li hidden="hidden" id="mnuFullLeaveCancel">
                                        <a href="/LeaveApp/FullLeaveCancel">Full Leave Cancel</a>
                                    </li>
                                </ul>
                            </li>
                            <li hidden="hidden" id="mnuLeaveRelease">
                                <a href="/ReleaseLeave/LeaveRelease">Leave Release</a>
                            </li>
                            <li hidden="hidden" class="dropdown-submenu" id="mnuLeavePosting">
                                <a href="#" class="test" data-toggle="dropdown"><span>Leave Posting <b class="icon-caret-right"></b></span></a>
                                <ul class="dropdown-menu">
                                    <li hidden="hidden" id="mnuFullLeavePosting">
                                        <a href="/LeavePosting/LeavePosting?flg=N">Full Leave Posting</a>
                                    </li>
                                    <li hidden="hidden" id="mnuPartialLeavePosting">
                                        <a href="/LeavePosting/LeavePosting?flg=P">Partial Leave Posting</a>
                                    </li>
                                    <li hidden="hidden" id="mnuCancelledLeavePosting">
                                        <a href="/LeavePosting/LeavePosting?flg=C">Canceled Leave Posting</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li hidden="hidden" class="dropdown" id="mnuGatePass">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-save"></i><span>Gate Pass</span></a>
                        <ul class="dropdown-menu">
                            <li hidden="hidden" id="mnuCreateGatePass">
                                <a href="/GatePass/GatePass">New Gate Pass (Regular Employee)</a>
                            </li>
                            <li hidden="hidden" id="mnuContCreateGatePass">
                                <a href="/GatePass/ContractualGatePass">New Gate Pass (Others)</a>
                            </li>
                            <li hidden="hidden" id="mnuPrintGatePass">
                                <a href="/Report/PrintGatePassReport">Gate Pass List</a>
                            </li>
                            <li hidden="hidden" id="mnuGatePassRelease">
                                <a href="/GatePass/GatePassRelease">Gate Pass Release</a>
                            </li>
                            <li hidden="hidden" id="mnuRelGatePassReport">
                                <a href="/Report/ReleaserGatePassReport">Gate Pass Report</a>
                            </li>
                            <li hidden="hidden" id="mnuGatePassInOut">
                                <a href="/GatePass/GatePassInOut">Gate Pass IN/OUT</a>
                            </li>
                        </ul>
                    </li>
                    <li hidden="hidden" class="dropdown" id="mnuGPAdvice">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bookmark-empty"></i><span>GP Advice</span></a>
                        <ul class="dropdown-menu">
                            <li hidden="hidden" id="mnuGPAdviceGenerate">
                                <a href="/GatePassAdvice/GenerateGPAdvice">New GP Advice</a>
                            </li>
                            <li hidden="hidden" id="mnuGPAdviceList">
                                <a href="/GatePassAdvice/GetGPAdviceList">GP Advice List</a>
                            </li>
                            <li hidden="hidden" id="mnuGPAdviceRelease">
                                <a href="~/GatePassAdvice/ReleaseGPAdvice">Release GP Advice</a>
                            </li>
                            <li hidden="hidden" id="mnuGPAdviceReport">
                                <a href="~/GatePassAdvice/GPAdviceReport">GP Advice Report</a>
                            </li>
                            <li hidden="hidden" id="mnuMasterUpload">
                                <a href="~/GatePassAdvice/MasterUpload">Master Upload</a>
                            </li>
                            <li hidden="hidden" id="mnuGPAdvicePost">
                                <a href="~/GatePassAdvice/POSTGPAdvice">Post GP Advice</a>
                            </li>
                            <li hidden="hidden" id="mnuPostedGPAdviceReport">
                                <a href="~/GatePassAdvice/PostedGPAdviceReport">Posted GP Advice Report</a>
                            </li>
                        </ul>
                    </li>
                    <li hidden="hidden" class="dropdown" id="mnuReport">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-th-list"></i><span>Report</span></a>
                        <ul class="dropdown-menu">
                            <li hidden="hidden" id="mnuReleaserEmpReport">
                                <a href="/Report/EmployeeList">Employee List</a>
                            </li>
                            <li hidden="hidden" id="mnuLeaveReport">
                                <a href="/Report/LeaveReport">Leave Report</a>
                            </li>
                            <li hidden="hidden" id="mnuITDReport">
                                <a href="/IncomeTax/ITDeclarationReport">Income Tax Declaration Report</a>
                            </li>
                            <li hidden="hidden" id="mnuLeaveApplicationDetails">
                                <a href="/LeavePosting/LeaveApplicationView">User Dashboard</a>
                            </li>
                            <li hidden="hidden" id="mnuPostedLeaveReport">
                                <a href="/Report/PostedLeaveReport">Posted Leave Report</a>
                            </li>
                            <li hidden="hidden" id="mnuPostedByReport">
                                <a href="/Report/PostedByReport">Posted By HR Report</a>
                            </li>
                            <li hidden="hidden" id="mnuLeavePerformanceReport">
                                <a href="/Report/LeavePerformanceReport">Leave Performance Report</a>
                            </li>
                            <li hidden="hidden" id="mnuPendingLeavesForPostReport">
                                <a href="/Report/PendingLeavesForPostReport">Pending For Post - Export To Excel</a>
                            </li>
                            <li hidden="hidden" id="mnuAllGatePassReport">
                                <a href="/Report/AllGatePassReport">All Users Gate Pass Report</a>
                            </li>
                            <li hidden="hidden" id="mnuUserPresentAddressReport">
                                <a href="/Report/AllUsersDetailsReport">Employees Details Report</a>
                            </li>
                            <li hidden="hidden" id="mnuUniformMasterReport">
                                <a href="/Report/UniformMasterReport">Uniform Master Report</a>
                            </li>
                            <li hidden="hidden" id="mnuEmpRlsStrLstReport">
                                <a href="/Report/EmployeeReleaseStrategyList">Release Strategy Report</a>
                            </li>
                            <li hidden="hidden" id="mnuVehicleGatePassReport">
                                <a href="/GatePass/VehicleGatePassReport">Vehicle Gate Pass Report</a>
                            </li>
                        </ul>
                    </li>
                    <li hidden="hidden" class="dropdown" id="mnuUitility">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-magnet"></i><span>Uitility</span></a>
                        <ul class="dropdown-menu">
                            <li hidden="hidden" id="mnuAutoSync">
                                <a href="#" onclick="AutoSync('@Session["Loc"]')">Sync Employees</a>
                            </li>
                            <li hidden="hidden" id="mnuOpenMonth">
                                <a href="/Home/OpenMonth">Change Open Month</a>
                            </li>
                            <li hidden="hidden" id="mnuResetPass">
                                <a href="/Home/ResetPassword">Reset Password</a>
                            </li>
                            <li hidden="hidden" id="mnuManageLeave">
                                <a href="~/Master/ManageLeaveMaster">Manage Leave</a>
                            </li>
                            <li hidden="hidden" id="mnuPayslipUpload">
                                <a href="~/Master/SalarySlipUpload">Payslip Upload</a>
                            </li>
                        </ul>
                    </li>
                    <li hidden="hidden" id="mnuPayslip">
                        <a href="~/Master/SalarySlip"><i class="icon-archive"></i><span></span>Payslip</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-fixed-bottom" style="height:30px;">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand" style="text-align:center;color:white">
                    <span><label id="footext"></label> (<label>@Session["IP"]</label>)</span>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</body>
</html>